<div class="hero homepage">
	<div class="wrapper">
		<div class="text-block">
			<h1 class="text-color-dark-grey">Howlers are Here to Insure Your Success</h1>
			<p>Bring clarity to your complex security challenges with VMware Howlers as trusted advisors. From strategy to design and implementation, Howlers assist VMware teams and customers for all aspects of cybersecurity.</p>
			<div class="buttons">
                <a class="button navy-blue" href="https://github.com/vmware/splinterdb/blob/main/docs/usage.md" target="_blank">Watch the Video</a>
            </div>
		</div>
	</div>
</div>