<div class="grid-container homepage-grid position-relative z-2">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/icon-arrows.png" height="130" alt="" />
				<h3>Get clarity on your security strategy</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="card">
				<img src="/img/icon-speed.png" height="130" alt="" />
				<h3>How to Use Our Products & Services</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
			<div class="card">
				<img src="/img/icon-utilization.svg" height="130" alt="" />
				<h3>Howlers at the Center of your Security Strategy</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			</div>
		</div>
	</div>
</div>