/* Homepage Hero */
.home-hero-bg {
    background: url(/img/bg-hero-computer.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        background-image: linear-gradient(-45deg, transparent, transparent 34%, rgba(255, 255, 255, .88) 34%, rgba(255, 255, 255, .88) 66%, transparent 66%);
        display: block;
        height: 825px;
        right: 50%;
        transform: translateX(25%);
        position: absolute;
        width: 1800px;
        z-index: 2;
    }

    &::after {
        content: '';
        background-image: linear-gradient(-45deg, rgba(255, 255, 255, .88), rgba(255, 255, 255, .88) 50%, transparent 50%);
        display: block;
        height: 30vw;
        bottom: 0;
        position: absolute;
        right: 0;
        width: 30vw;
        z-index: 2;
    }
}

.hero {
    background-color: $mainblue;
    color: $white;
    .text-block {
        max-width: 500px;
        padding: 0px 0px 10px 0px;
        position: relative;
        z-index: 3;
        p {
            margin-bottom: 20px;
            font-size: 18px;
            color: $white;
        }
        h2 {
            font-size: 36px;
        }
    }
    &.homepage {
        background-color: transparent;
        color: $darkgrey;
        padding-bottom: 20px;
        padding-top: 60px;
        position: relative;
        z-index: 2;
        h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }
        p {
            color: $black;
            margin: 10px 0 30px;
        }
        .wrapper {
            padding-bottom: 0;
        }
    }
    @include breakpoint(small) {
        .text-block {
            max-width: unset;
            margin-right: 0px;
        }
        .button {
            display: block;
            text-align: center;
        }
    }
}

.hero.subpage-hero {
    background-image: url('/img/bg-hero-subpage.png');
    background-color: #1a408c;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 90px;

    .wrapper {
        position: relative;
        z-index: 2;
    }

    h1 {
        font-size: 36px;
        @include breakpoint(small) {
            font-size: 26px;
        }
    }
}